.btn {
  padding: 16px 48px;

  font-family: Manrope, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
  color: #4dc274;
  background-color: #f3f5f6;
  border: 1px solid transparent;
  border-radius: 10px;
}
.btn-primary {
}
.btn-seondary {
}
